SQL And SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databasses, tables, and performing various SQL operations.

In [2]:
import sqlite3

In [3]:
Connection=sqlite3.connect('Example.db')
Connection

In [5]:
Cursor=connection.cursor()

In [5]:
#Create a Table 

Cursor.execute('''
Create Table IF Not Exists Employees(
    Id Integer primary key,
    Name test not Null,
    age Integer,
    Department text
)
''')

## Commit the changes

connection.commit()

In [8]:
Cursor.execute('''
Select * from Employees
''')

In [28]:
## Insert the data in the sqlite table

Cursor.execute('''
    Insert Into Employees(Name,Age,Department) values('Arghadip',21,'Data Scientist')
''')
connection.commit()

In [29]:
Cursor.execute('''
    Insert Into Employees(Name,Age,Department) values('Arpan',21,'Data Scientist')
''')
Cursor.execute('''
    Insert Into Employees(Name,Age,Department) values('Debadrita',21,'Data Scientist')
''')
Cursor.execute('''
    Insert Into Employees(Name,Age,Department) values('Sneha',21,'Data Scientist')
''')
connection.commit()

In [30]:
## Query the data from the table

Cursor.execute('''
Select * from Employees
''')
rows=Cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Arghadip', 21, 'Data Scientist')
(2, 'Arpan', 21, 'Data Scientist')
(3, 'Debadrita', 21, 'Data Scientist')
(4, 'Sneha', 21, 'Data Scientist')

In [31]:
## Update the data in the table 

Cursor.execute('''UPDATE Employees set age=22 where name ="Sneha"''')
connection.commit()

In [33]:
Cursor.execute('''
Select * from Employees
''')
rows=Cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Arghadip', 21, 'Data Scientist')
(2, 'Arpan', 21, 'Data Scientist')
(3, 'Debadrita', 21, 'Data Scientist')
(4, 'Sneha', 22, 'Data Scientist')

In [34]:
Cursor.execute('''
Delete from employees where name='Sneha'
''')
connection.commit()

In [35]:
Cursor.execute('''
Select * from Employees
''')
rows=Cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Arghadip', 21, 'Data Scientist')
(2, 'Arpan', 21, 'Data Scientist')
(3, 'Debadrita', 21, 'Data Scientist')

In [7]:
connection=sqlite3.connect('sales_data.db')
cursor=connection.cursor()

#create a table for sales data
cursor.execute('''
    CREATE TABLE IF NOT EXISTS sales(
        id integer primary key,
        date text not null,
        product text not null,
        sales integer,
        region text
    )
''')

# Insert data into the sales table

sales_data=[
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'South'),
    ('2023-01-03','Product3',150,'East'),
    ('2023-01-04','Product4',250,'West'),
    ('2023-01-05','Product5',300,'North')
]
cursor.executemany('''
Insert into sales(date,product,sales,region)
    values(?,?,?,?)
''',sales_data)
connection.commit()

In [8]:
cursor.execute('''
Select * from sales
''')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product3', 150, 'East')
(4, '2023-01-04', 'Product4', 250, 'West')
(5, '2023-01-05', 'Product5', 300, 'North')

In [9]:
connection.close()